extends ../layout

block content
  .page-header
    h3
      i.fa.fa-pencil-square-o(style='color: #335397')
      | Create Event

  form.form-horizontal(role='form', method='POST')
    input(type='hidden', name='_csrf', value=token)
    .form-group
      label(class='col-sm-2 control-label', for='fb_url') Facebook Event Url
      .col-sm-8
        input.form-control(type='url', name='fb_url', id='fb_url', autofocus=true)
    .form-group
      label(class='col-sm-2 control-label', for='event_tags') Event Tags
      .col-sm-8
        input.form-control(type='text', name='event_tags', id='event_tags', autofocus=true)
    if false
      .form-group
        label(class='col-sm-2 control-label', for='img_url') Event Image Url
        .col-sm-8
          input.form-control(type='url', name='img_url', id='img_url', autofocus=true)
    .form-group
      .col-sm-offset-2.col-sm-8
        button.btn.btn-default(type='submit')
          i.fa.fa-mail-forward
          | Create
